{% extends 'base.html' %}

{% block body %}
<h1>{{ the_title }}</h1>
<p>Örnek Flask uygulaması ana sayfa</p>
<ul>
  <li><a href="{{ url_for('sayfa2') }}">Sayfa 1</a></li>
  <li><a href="{{ url_for('sayfa1') }}">Sayfa 2</a></li>
</ul>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit mauris eu orci faucibus, vulputate mattis lorem maximus. Nulla placerat in libero sit amet vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
{% endblock %}
